div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div h2 {
    text-align: center;
}



table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 10px;
}
th {
    background-color: #FDDF95;
}
